<div class="container">
    <div class="login">
    <div class="login-triangle"></div>
     <h2 class="login-header">Crear Cuenta</h2>
     <form  #f="ngForm" class="login-container" (ngSubmit)="onRegister(f)">
      <p><input type="name" name="name" placeholder="Nombre" ngModel required></p>
      <p><input type="email" name="email" placeholder="Email" ngModel required></p>
      <p><input type="password" name="password" placeholder="Contraseña" ngModel required></p>     
      <p><input type="submit" value="Log in" ></p>
     </form>
    </div>
</div>