
<div class="container"><div class="login">
  <p></p>
  <div class="mt-5 login-triangle mt-5 mt-5"></div>
   <h2 class="login-header ">Log in</h2>
   <form  #f="ngForm" class="login-container" (ngSubmit)="onLogin(f)">
    <p><input type="UserName" name="UserName" placeholder="UserName" ngModel required></p>
    <p><input type="Password" name="Password" placeholder="Password" ngModel required></p>     
    <p><input type="submit" value="Log in" ></p>
   </form>
  </div>
  </div> 