<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo | uppercase}}</span>
                    <form class="mt-3" [formGroup]="SubscriberForm" (ngSubmit)="agregar()">
                        <div class="mb-3">
                            <input type="text" formControlName="Name" class="form-control form-control-lg"
                                placeholder="Name">
                            <div class="text-danger"
                                *ngIf="SubscriberForm.get('Name')?.hasError('required') && SubscriberForm.get('Name')?.touched">
                                <span>Subscriber Name is <strong>Required</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="Email" class="form-control form-control-lg"
                                placeholder="Email">
                            <div class="text-danger"
                                *ngIf="SubscriberForm.get('Email')?.hasError('required') && SubscriberForm.get('Email')?.touched">
                                <span>Subscriber Email is <strong>Required</strong></span>
                            </div>
                        </div>
                        <div class="mb-3" align="left">
                            <input type="text" formControlName="CountryCode" class="form-control form-control-lg"
                                placeholder="CountryCode">
                            <div class="text-danger"
                                *ngIf="SubscriberForm.get('CountryCode')?.hasError('required') && SubscriberForm.get('CountryCode')?.touched">
                                <span>Subscriber CountryCode is <strong>Required</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="PhoneNumber" class="form-control form-control-lg"
                                placeholder="PhoneNumber">
                            <div class="text-danger"
                                *ngIf="SubscriberForm.get('PhoneNumber')?.hasError('required') && SubscriberForm.get('PhoneNumber')?.touched">
                                <span>Subscriber PhoneNumber is <strong>Required</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/listar-subscriptor"
                                class="btn btn-secondary btn-lg float-start">Return</button>
                            <button type="submit" [disabled]="SubscriberForm.invalid"
                                class="btn btn-success btn-lg float-end">Accept</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
