<div class="container">
    <div class="card">
        <div class="card-body text-center">
            <span class="titulo text-center">List of Subscribers</span>
            <button class="btn btn-success float-end" routerLink="/crear-subscriptor">Nuevo</button>

            <table class="row">
                <div class="col-4">
                    <input class="form-control text-center" (click)="pageChange(0)" type="text" id="selectOption"
                        placeholder="Search Id - Name" name="filtro" [(ngModel)]="filter">&nbsp;
                </div>
                <div class="col-sm-12" align="right">
                    <form-control [formGroup]="SubscriberForm"><input type="number" formControlName="Id"
                        placeholder="Search Id">
                    </form-control>&nbsp;
                    <button type="button" (click)="obtsub()" class="btn btn-info btn-xs" tooltip="Search"
                        placement="top">
                        <i class="fas fa-search"></i>&nbsp;
                    </button>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 d-flex align-items-stretch flex-column"
                        *ngFor="let item of listsubs|filtro:filter|page:page|SortBy:'Id';let i = index">
                        <div class="card d-flex flex-fill">
                            <div class="card-header border-bottom-0">
                                <div class="row">
                                    <div class="text-muted col-sm-12 ">
                                        <b class="titulo">{{item.Name}}</b>
                                    </div>
                                    <div class="col-10" align="right">
                                        <div class="col-1">
                                            <td style="width: 5%">
                                                <button type="button" (click)="eliminarSubs(item.Id)"
                                                    class="btn btn-danger btn-xs" tooltip="Eliminar" placement="top">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                            <td style="width: 5%">
                                                <button type="button" [routerLink] = "['/editar-subscriptor',item.Id]" class="btn btn-info btn-xs"
                                                    tooltip="Editar">                                                    
                                                    <i  class="fas fa-edit"></i>
                                                </button>
                                            </td>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row mb-0 fa-ul text-muted text-sm">
                                            <div class="col-12 ">
                                                <b> Id: </b>{{item.Id}}
                                            </div>
                                            <div class="col-12 ">
                                                <b> Area: </b>{{item.Area}}
                                            </div>
                                            <div class="col-12 ">
                                                <b>CountryName: </b>{{item.CountryName}}
                                            </div>
                                            <div class="col-12 ">
                                                <b>PublicId: </b>{{item.PublicId}}
                                            </div>
                                            <div class="col-12 ">
                                                <b>PhoneNumber: </b>{{item.PhoneNumber}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row mb-0 fa-ul text-muted text-sm">
                                            <div class="col-12 ">
                                                <b> SubscriptionStateDescription:
                                                </b>{{item.SubscriptionStateDescription}}
                                            </div>
                                            <div class="col-12 ">
                                                <b>Activity: </b>{{item.Activity}}
                                            </div>
                                            <div class="col-12">
                                                <b>CountryCode: </b>{{item.CountryCode}}
                                            </div>
                                            <div class="col-12 ">
                                                <b> PhoneCode: </b>{{item.PhoneCode}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </table>
            <h5 style="text-align: start;margin-top: 10px;" *ngIf="listsubs.length==0">No Hay Productos para
                mostrar</h5>
        </div>
        <div class="row">
            <div class="col-11" align="left">
                <button class="btn bg-gradient-ligth btn" (click)="pageChange(0)" tooltip="Inicio"><i
                        class="fas fa-angle-double-left"></i>
                </button>&nbsp;
                <button class="btn bg-gradient-ligth btn" (click)="prevPage()" tooltip="Anterior"><i
                        class="fas fa-angle-left"></i>
                </button>&nbsp;
                <div class=" btn bg-gradient-olive btn "> {{math((page/rowsOnPage))+1}} </div>&nbsp;
                <button class="btn bg-gradient-ligth btn" (click)="nextPage()" tooltip="Siguiente"><i
                        class="fas fa-angle-right"></i>
                </button>&nbsp;
                <button class="btn bg-gradient-ligth btn"
                    (click)="pageChange(((math((totalItems/rowsOnPage))*rowsOnPage)-rowsOnPage))" tooltip="Final"><i
                        class="fas fa-angle-double-right"></i>
                </button>&nbsp;
            </div>
            <div class="col-1" align="right">
                <button type="button" class="btn btn-default" data-dismiss="modal" arial-label="close"
                    (click)="cancelar()" tooltip="Cancelar">
                    <i class="fa fa-times"></i>
                </button>&nbsp;
            </div>
        </div>
    </div>
</div>