<div class="container">
    <div class="card">
        <div class="card-body text-center">
            <span class="titulo text-center">List of Countries</span>
            <table class="row">
                <div class="col-4">
                    <input class="form-control text-center" (click)="pageChange(0)" type="text" id="selectOption" placeholder="Search Id - Name"
                        name="filtro" [(ngModel)]="filter">&nbsp;
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 d-flex align-items-stretch flex-column"
                        *ngFor="let item of listcountries|filtroC:filter|page:page|SortBy:'Code';let i = index">
                        <div class="card d-flex flex-fill">
                            <div class="card-header border-bottom-0">
                                <div class="row">
                                    <div class="text-muted col-sm-12 ">
                                        <b class="titulo">{{item.Name}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row mb-0 fa-ul text-muted text-sm">
                                        <div class="col-12 ">
                                            <b> Code: </b>{{item.Code}}
                                        </div>
                                        <div class="col-12 ">
                                            <b> Code3: </b>{{item.Code3}}
                                        </div>
                                        <div class="col-12 ">
                                            <b>PhoneCode: </b>{{item.PhoneCode}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </table>
            <h5 style="text-align: start;margin-top: 10px;" *ngIf="listcountries.length==0">No Hay Productos para
                mostrar</h5>
        </div>
        <div class="row">
            <div class="col-11" align="left">
                <button class="btn bg-gradient-ligth btn" (click)="pageChange(0)" tooltip="Inicio"><i
                        class="fas fa-angle-double-left"></i>
                </button>&nbsp;
                <button class="btn bg-gradient-ligth btn" (click)="prevPage()" tooltip="Anterior"><i
                        class="fas fa-angle-left"></i>
                </button>&nbsp;
                <div class=" btn bg-gradient-olive btn "> {{math((page/rowsOnPage))+1}} </div>&nbsp;
                <button class="btn bg-gradient-ligth btn" (click)="nextPage()" tooltip="Siguiente"><i
                        class="fas fa-angle-right"></i>
                </button>&nbsp;
                <button class="btn bg-gradient-ligth btn"
                    (click)="pageChange(((math((totalItems/rowsOnPage))*rowsOnPage)-rowsOnPage))" tooltip="Final"><i
                        class="fas fa-angle-double-right"></i>
                </button>&nbsp;
            </div>
            <div class="col-1" align="right">
                <button type="button" class="btn btn-default" data-dismiss="modal" arial-label="close"
                    (click)="cancelar()" tooltip="Cancelar">
                    <i class="fa fa-times"></i>
                </button>&nbsp;
            </div>
        </div>
    </div>
</div>