<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="assets\img\298986411_5688708681153567_1781998195910827047_n.jpg" alt=" ">&nbsp;
    <a class="navbar-brand" href="#"> Tekus </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Subscribers
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/crear-subscriptor">Create</a></li>
            <li><a class="dropdown-item" href="/listar-subscriptor">list</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Countries
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/listar-countries">list</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-1">
      <ul class="navbar-nav me-auto mb-auto" align="right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Logout
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/crear-subscriptor">password</a></li>
            <li><a class="dropdown-item" (click)="logouth()" href="/">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>