/* You can add global styles to this file, and also import other style files */
body{
background: #cbdb51;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ce8c29, #b60505);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ce8c29, #b60505); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.titulo{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

